{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaVersion": 12
  },
  "rules": {
    "quotes": ["error", "double"],
    "linebreak-style": ["error", "windows"],
    "no-console": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": [
        ["@api", "./src/api"],
        ["@components", "./src/api/components"],
        ["@Definition", "./src/api/components/definition/Definition.js"],
        ["@User", "./src/api/components/user/User.js"],
        ["@apollo", "./src/apollo"],
        ["@bin", "./src/bin"],
        ["@config", "./src/config"],
        ["@directives", "./src/directives"],
        ["@middlewares", "./src/middlewares"],
        ["@scalars", "./src/scalars"]
      ]
    }
  }
}
