{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "extends": ["airbnb-typescript/base", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "quotes": ["error", "double"],
    "@typescript-eslint/quotes": ["error", "double"],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "variable",
        "format": ["camelCase", "PascalCase", "UPPER_CASE"],
        "leadingUnderscore": "allowSingleOrDouble"
      }
    ],
    "linebreak-style": ["error", "windows"],
    "no-console": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off"
  },
  "overrides": [
    {
      "files": ["./src/utils/test/*.ts"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "alias": [
        ["@api", "./src/api"],
        ["@components", "./src/api/components"],
        ["@Auth", "./src/api/components/auth"],
        ["@Definition", "./src/api/components/definition"],
        ["@Report", "./src/api/components/report"],
        ["@User", "./src/api/components/user"],
        ["@Vote", "./src/api/components/vote"],
        ["@bin", "./src/bin"],
        ["@config", "./src/config"],
        ["@directives", "./src/directives"],
        ["@middlewares", "./src/middlewares"],
        ["@scalars", "./src/scalars"],
        ["@utils", "./src/utils"]
      ]
    }
  }
}
